<!-- views/dashboard/flight.ejs -->
<!doctype html>
<html>
<head>
    <% include layout/head %>
</head>

<body>

    <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">

        <% include layout/header_drawer %>

        <main class="mdl-layout__content">
            <div class="page-content">
                <!-- My content here -->

                <div class="container">
                    <div class="col-sm-6 col-sm-offset-3">

                        <h1>Administrator dashboard</h1>
                            <% if (message !== "") { %>
                            <div class="alert alert-danger">
                                <%= message %>
                            </div>
                            <% } %>

                        <h5>Flights</h5>

                        The company has got <%= list_flight.length %> planned flights.

                        <table style="width:100%">
                          <tr>
                            <th>flight_id</th>
                            <th>departure_time <a href="/dashboard/departures"><i class="material-icons">add_box</i></a></th>
                            <th>arrival_time</th>
                            <th>start_day</th>
                            <th>end_day</th>
                            <th>aircraft_id  <a href="/dashboard/aircrafts-fleet"><i class="material-icons">add_box</i></a></th>
                            <th>route_id <a href="/dashboard/routes"><i class="material-icons">add_box</i></a></th>
                            <th>price</th>
                          </tr>
                        <% for (var i = 0; i < list_flight.length; i++) { %>
                         <tr>
                            <td><%= list_flight[i].flight_id %></td>
                            <td><%= list_flight[i].departure_time %></td> 
                            <td><%= list_flight[i].arrival_time %></td>
                            <td><%= list_flight[i].start_day %></td>
                            <td><%= list_flight[i].end_day %></td>
                            <td><%= list_flight[i].aircraft_id %></td>
                            <td><%= list_flight[i].route_id %></td>
                            <td><%= list_flight[i].price %></td>
                          </tr>
                        <% } %>
                        </table>


                    </div>
                </div>
            </div>
        </main>
    </div>


</body>

</html>
