<!-- views/dashboard/user.ejs -->
<!doctype html>
<html>
<head>
    <% include layout/head %>
</head>

<body>

    <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">

        <% include layout/header_drawer %>

        <main class="mdl-layout__content">
            <div class="page-content">
                <!-- My content here -->

                <div class="container">
                    <div class="col-sm-6 col-sm-offset-3">

                        <h1>Administrator dashboard</h1>
                            <% if (message !== "") { %>
                            <div class="alert alert-danger">
                                <%= message %>
                            </div>
                            <% } %>

                        <h5>Users</h5>

                        <%= list_user.length %> users.

                        <table style="width:100%">
                          <tr>
                            <th>id</th>
                            <th>Username</th>
                            <th>Is admin?</th>
                            <th>Password</th>
                          </tr>
                        <% for (var i = 0; i < list_user.length; i++) { %>
                         <tr>
                            <td><%= list_user[i].id %></td>
                            <td><%= list_user[i].username %></td> 
                            <td><%= list_user[i].is_admin %></td>
                            <td><%= list_user[i].password %></td>
                          </tr>
                        <% } %>
                        </table>

                        <br>
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" id="show-add-admin-dialog">Promote a user to admin</button>

                        <dialog class="mdl-dialog" id="add-admin-dialog">
                          <h4 class="mdl-dialog__title">Promote user to admin</h4>
                          <div class="mdl-dialog__content">
                          <form action="/dashboard/users/promote" method="post">
                            <div class="form-group">
                                <label>User ID</label>
                                <input type="text" class="form-control" name="ID">
                            </div>
                            
                          </div>

                            <div class="mdl-dialog__actions">
                              <button type="submit" class="mdl-button">Promote</button>
                              <button type="button" class="mdl-button close">Close</button>
                            </div>
                          </form>
                        </dialog>

                        <script>
                        var dialog1 = document.querySelector('#add-admin-dialog');
                        var showDialogButton1 = document.querySelector('#show-add-admin-dialog');
                        if (! dialog1.showModal) {
                          dialogPolyfill.registerDialog(dialog1);
                        }
                        showDialogButton1.addEventListener('click', function() {
                          dialog1.showModal();
                        });
                        dialog1.querySelector('.close').addEventListener('click', function() {
                          dialog1.close();
                        });
                         </script>


                    </div>
                </div>
            </div>
        </main>
    </div>


</body>

</html>
