<!-- views/search-travel.ejs -->


<html>
<head>
    <% include layout/head %>
</head>

<body>

    <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">

        <% include layout/header_drawer %>

        <main class="mdl-layout__content">
            <div class="page-content">
                <!-- My content here -->

                <div class="container">
                    <div class="col-sm-6 col-sm-offset-3">

                        <h1>Search a trip</h1>
                            <% if (message.length > 0) { %>
                            <div class="info message">
                                <%= message %>
                            </div>
                            <% } %>


                        <p>Search a trip<br>
                            (try existing ones: Paris -> Atlanta, Paris -> Shangai, Atlanta -> Shangai  
                            with a date in ]-infty , 15/01/2017])</p>
                        <form action="/search-travel" method="post" >
                            <div class="form-group mdl-textfield mdl-js-textfield">
                                <label class="mdl-textfield__label" >Start city</label>
                                <input class="mdl-textfield__input" type="text" class="form-control" name="start_city">
                            </div>

                            <div class="form-group mdl-textfield mdl-js-textfield">
                                <label class="mdl-textfield__label">Arrival city</label>
                                <input class="mdl-textfield__input" type="text" class="form-control" name="arrival_city">
                            </div>
                            <div class="form-group mdl-textfield">
                                <label class="">Start date</label>
                                <input class="mdl-textfield__input" type="date" class="form-control" name="start_date">
                            </div>
                            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Search</button>
                        </form>


                        
                        <% if (data_departures && JSON.stringify(data_departures) !== JSON.stringify({})) { %>
                        
                        <%=data_departures.airport1.city%> to <%=data_departures.airport2.city%>


                        
                        


                        <div class="mdl-grid">

                          <% for(var i = 0; i < data_departures.departures.length; i++) { %>

                     
                          <div class="mdl-cell mdl-cell--4-col">
                            <div class="demo-card-event mdl-card mdl-shadow--2dp">
                              <div class="mdl-card__title mdl-card--expand">
                                <h4><%=data_departures.airport1.city%> - <%=data_departures.airport2.city%></h4>
                              </div>
                              <div class="mdl-card__supporting-text">
                                <% var departure_date = new Date(data_departures.departures[i].departure_date)%>
                                <% var arrival_date = new Date(data_departures.departures[i].arrival_date)%>
                                <% var days = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]; %>
                                <% var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]; %>

                                <b>Departure: </b> 
                                <%= days[departure_date.getDay()]%> <%=departure_date.getDate()%> <%=months[departure_date.getMonth()]%> <%=departure_date.getFullYear()%> at <%=data_departures.flight.departure_time%> <br>

                                <b>Arrival: </b>
                                <%= days[departure_date.getDay()]%> <%=departure_date.getDate()%> <%=months[departure_date.getMonth()]%> <%=departure_date.getFullYear()%> at <%=data_departures.flight.arrival_time%> <br>

                                <b>Price: </b> 
                                <%=data_departures.flight.price%> €<br>
                                
                                <b>Departure ID: </b> 
                                <%=data_departures.departures[i].departure_id%>


                                <div>
                                </div>

                              </div>
                              <div class="mdl-card__actions mdl-card--border">
                                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/reserve">
                                  Take this flight
                                </a>
                                <div class="mdl-layout-spacer"></div>
                              </div>
                            </div>
                          </div>
                           <% } %>


                        </div>
                         <% } %>

                    </div>
                </div>


            </div>
        </main>
    </div>


</body>

</html>
